@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');

@font-face {
  font-family: 'KOHIBaeumOTF';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/KOHIBaeumOTF.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'IBMPlexSansKR-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KOTRA_GOTHIC';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/KOTRA_GOTHIC.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

:root{
  --mq-xs: (320px)
  --mq-sm: (480px)
  --mq-md: (720px)
  --mq-lg: (1000px)
  /* --max-width : (55%) */
}

/* Border Box */
* {
  box-sizing: border-box;
}
.posts_wrap{
  /* width : auto;
  margin-top : 1500px; */
}
.post{
  /* font-family: 'IBMPlexSansKR-Regular'; */
  font-family: 'Pretendard';
  /* position: relative; */
  display: block;
  margin: 10px auto;
  /* max-width: 55%; */
  z-index: 2;
}
.title, .edit_post_wrap {
  font-family: 'KOTRA_GOTHIC';
  /* font-family: 'Pretendard'; */
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: inherit;
  letter-spacing: 2px;
  margin: 0px;
  padding:15px;
  background: rgba(208, 225, 255, 0.25);
  /* background: linear-gradient(90deg, rgb(44, 137, 212), #95c3ff, #8ed2ffab); */
  min-width: var(--mq-sm);
  font-size: 165%;
  font-weight: bold;
  line-height: 1.2rem;
  color: white;
  /* color:#00f7ff; */
  border-radius: 20px 20px 0px 0px;
}
.category, .edit_post_category{
  font-family: 'KOHIBaeumOTF';
  display: block;
  margin-bottom: 3px;
  padding-bottom: 3px;
  font-size: 0.6rem;
  min-width: var(--mq-sm);
  /* font-weight: bold; */
  color:#00f7ff;
}
.edit_post_title, .edit_post_diagnosis{
  text-align: center;
}
.post_info {
  font-family: 'IBMPlexSansKR-Regular';
  background: rgba(208, 225, 255, 0.2);
  border: 1px white;
  /* box-shadow: 2px 2px 10px rgb(210, 228, 255); */
  padding: 5px;
  min-width: var(--mq-lg);
  height: 30px;
  text-align: right;
  font-size: 75%;
  font-weight: bold;
  color: white;
}
.post_dropdown{
  float: left;
  overflow: hidden;
}
.post_dropdown .dropbtn{
  font-size:14px;
  outline:none;
  color:white;
  padding: 5px;
  margin: 0;
}

.post_dropdown:hover .dropbtn {
  background-color: rgba(0, 247, 255, 0.3);
}
/* Dropdown content (hidden by default) */

.dropdown_content {
  display: none;
  position: absolute;
  background-color: rgba(0, 205, 212, 0.98);
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown_content a{
  float: none;
  color: white;
  padding: 5px 10px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown_content a:hover {
  background-color: rgb(34, 40, 48);
  color:white;
}

/* Show the dropdown menu on hover */
.post_dropdown:hover .dropdown_content {
  display: block;
}


#title, #diagnosis{
  background-color: transparent;
  color: #00f7ff;
  border-style: none;
  font-size: 20px;
  margin: 10px
}
#category{
  border-style: none;
  font-size: 20px;
  /* color:rgb(15, 96, 189); */
  color: #00f7ff;
  background: transparent;
  font-weight: bold;
  cursor: pointer;
}


.post_contents, .edit_post_contents {
  /* post image/description wrap */

  /*  background: rgba(208, 225, 255, 0.15); */
  border:  1px solid rgba(136, 177, 255, 0.2);
  /* border-top: 0; */
  background: rgba(208, 225, 255, 0.15);
  /* box-shadow: 2px 2px 10px rgb(210, 228, 255); */
  padding: 6px;
  min-width: var(--mq-lg);
  /* height: 315px; */
  height: auto;
  display: block;
  margin: auto;
  border-radius: 0px 0px 20px 20px;
  color:white;
}
.diagnosis{
    /* 진단명 */
  border:  2px solid rgba(122, 195, 255, 0.1);
  background: rgba(0, 247, 255, 0.8);
  padding: 5px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 12.5px;
}
.post_image {
  /* post 이미지 */
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: auto; */
  margin: 10px;
  text-align: center;
  max-width: 100%;
  min-width: 0%;
}
.post_article {
  /* post decription wrap class */
  font-size: 14px;
  line-height: 18px;
  width: auto;
  max-width: 100%;
  min-width: 100%;
  margin: 30px 0px 10px 0px;
  display: block;
}
.post_description{
  /* post 설명글 */
  padding:15px;
  border-radius: 10px;
  /* border:  2px solid rgba(122, 195, 255, 0.1); */
  background: rgba(255, 255, 255, 0.123);
  margin: 15px;
}
img{
  width: 300px;
  height: 300px;
  border-radius: 5px;
}
.comments{
  margin-top: 1%;
  margin-bottom: 3%;
}
.comment{
  /* font-family: 'KOTRA_GOTHIC'; */
  font-family: 'Pretendard';
  background: rgba(208, 225, 255, 0.15);
  position: relative;
  /* display: block; */
  margin: 10px auto;
  max-width: 120%;
  z-index: 2;
  border: 1px solid rgba(136, 177, 255, 0.2);
  border-radius: 20px;
  color:white;
  /* width: 600px; */
}
.comment_writer{
  font-size: 15px;
  float:left;
  font-weight: bold;
  /* color:rgb(0, 43, 100); */
  color:#00f7ff;
}
.comment_info{
  margin: 15px;
  padding-left: 5px;
  font-size: 13px;
  text-align:right;
  font-weight: bold;
}
.comment_contents{
  margin-left: 25px;
  margin-bottom: 15px;
  font-size: 14px;
}
.w_comment{
  background: rgba(208, 225, 255, 0.15);
  border: 1px solid rgba(136, 177, 255, 0.2);
  border-radius: 20px;
  margin: 10px auto;
  max-width: 120%;
  display: block;
}
.w_comment_writer{
  font-size: 15px;
  font-weight: bold;
  /* color:rgb(0, 43, 100); */
  color:#00f7ff;
  padding-right: 5px;
  margin: 15px 15px 0px 15px;
}
textarea{
  margin: 10px;
  resize: none;
  height: 10em;
  border: none;          
  width: 98%;
  background: rgba(208, 225, 255, 0.3);
  color: white;
}
textarea:focus{
  outline: none;
  border: 2px solid rgba(0, 247, 255, 0.178);
  background: rgba(208, 225, 255, 0.3);
  color: white;
}
button{
  color: #00f7ff;
  font-weight: bold;
  background: transparent;
  border: transparent;
  cursor: pointer;
}
.edit_post_image{
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.image_preview_existing,
.image_preview_new{
  
  display: flex;
  justify-content: center;
}
.edit_image{
  z-index: 1;
}
.deleteImg_btn_wrap{
  display : none;
}
.deleteImg_btn{
  color:white;
  background-color: rgba(255, 255, 255, 0.5); 
}
.image_preview_existing:hover .deleteImg_btn_wrap,
.image_preview_new:hover .deleteImg_btn_wrap{
  display:block;
  position:absolute;
  z-index:2;
}
.post_btn, .comment_btn, .edit_post_btn{
  display: flex;
  justify-content: right;
  margin-left: auto;
  margin-right: 10px;
  width: 150px;
  height: 50px;
  text-align: center;
}

#title, #diagnosis{
  text-align: center;
}
#post_button, #edit_button, #edit_post_botton, #cancel_button{
  width: 90px;
  height: 30px;
  border-radius: 20px;
  border: transparent;
  background-color: rgba(255, 255, 255, 0.3);
  color:#00f7ff;
  cursor: pointer;
}

#image_plus_button{
  width: 50px;
  height: 50px;
  font-size: 35px;
  background-color:rgb(0, 247, 255);
  border: transparent;
  font-weight: bold;
  /* color: rgba(0, 92, 197, 0.904); */
  color:white;
  margin: 5px;
  cursor: pointer;
}

input::placeholder{
  color:rgba(255, 255, 255, 0.6);
}
textarea::placeholder{
  color:rgba(255, 255, 255, 0.6);
  
}
::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
  text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
  text-align: center;  
}

:-ms-input-placeholder {  
  text-align: center; 
}
