<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="../node_modules/jquery/dist/jquery.min.js" ></script>
<script>$=jQuery;</script>
<script src="https://unpkg.com/@babel/polyfill@7.0.0/dist/polyfill.js"></script>

<div class="posts_wrap">
  <div *ngFor="let post of postList.Items; let idx = index" [attr.data-index]="idx" class="post">
    <div class="post_wrap" *ngIf="!post.edited"> 
      <div class="post_title">
        <!-- 삭제 / 수정 ( 오른쪽 상단 )-->
        <h2 class="title"><span class="category"><i>{{post.category}}</i></span> {{post.title}}</h2>
      </div>
      <div *ngIf="post.user.name == userName && post.user.id == userId"  class="post_dropdown">
        <button class="dropbtn">...</button>
        <div class="dropdown_content">
          <a (click)="getPostInfo(post)">edit</a>
          <a (click)="deletePost(post)">delete</a>
        </div>
      </div>
      <div class="post_info">
        <!-- 작성자 / 작성시간 / 조회수 ( 오른쪽 정렬 ) -->
        {{post.user.name}} | {{post.write_time}} | 조회수 : {{post.views}}
      </div>
      <div class="diagnosis">
        진단명 : {{post.diagnosis}}
      </div>
      <div class="post_contents">
        <div class="post_image" *ngFor="let file of post.file_source;">
          <img alt="CT image" (click)="open(mymodal)" src="{{file}}" onerror="this.src='assets/images/ct1.jpg'">
          <!-- <img alt="CT image" src="{{file}}" onerror="this.src='assets/images/ct1.jpg'"> -->
        </div>
        <div class="post_article">
          <div class="post_description">
            {{post.description}}
          </div>
        </div>
        <div class="comment_btn">
          <!-- <button (click) ="showHide(post.post_id)"><i class="fi fi-rr-comment-alt"> comments</i></button> -->
          <button (click) ="showHide(post)"><i class="fi fi-rr-comment-alt"> comments</i></button>
        </div>
      </div>
    </div>

    <div class="edit_post_wrap" *ngIf="post.edited">
      <div class="edit_post_category">
          <select [(ngModel)]="editCategory" id="category"> 
            <option [selected]="true" hidden [ngValue]="undefined">CATEGORY</option>
            <option *ngFor="let ct of categories" [ngValue]="ct.category">{{ct.category}}</option>
          </select>
      </div>
      <hr>
      <div class="edit_post_title">
        <input id="title" [(ngModel)]="editTitle" placeholder="제목을 입력하세요." type="text" maxlength=20>
      </div>

      <hr>
      <div class="edit_post_diagnosis">
         <input id="diagnosis" [(ngModel)]="editDiagnosis" placeholder="진단명" type="text" maxlength=20>
      </div>
      <hr>
      <div class="edit_post_image">
<!--    <div *ngIf="post.file_source.touched && post.file_source.invalid" >
          <span *ngIf="post.file_source.errors.required">File is required.</span>
        </div> -->
      
      <div class="image_preview" >
        <!-- <div class="image_preview_existing" *ngFor = "let imageSrc of post.fileSource">
          <img class="edit_image" [src]="imageSrc" *ngIf="imageSrc">
          <div class="deleteImg_btn_wrap">
            <button class="deleteImg_btn" (click)="deleteImg(imageSrc)">X</button>
          </div>
        </div> -->
        <div class="image_preview_new" *ngFor = "let imageSrc of editFileSource">
          <img class="edit_image" [src]="imageSrc" *ngIf="imageSrc">
          <div class="deleteImg_btn_wrap">
            <button class="deleteImg_btn" (click)="deleteImg(imageSrc)">X</button>
          </div>
        </div>
      </div>
      <!-- 이미지 추가할 수 있는 기능 -->
      <!-- <label class="input_file_button" for="input_file">
        +
      </label> -->
      <br>
      <input type="file" multiple (change)="readURL($event);" accept=".jpg, .png, .jpeg, .jfif" style="display:none"  class="fileInput" #fileInput>
      <button type="button" id="image_plus_button" (click)="fileInput.click();"> + </button>

      <br>
      </div>
      <hr>
      <!-- <div class="edit_post_contents"> -->
        <div class="edit_post_description">
          <textarea [(ngModel)]="editDescription" placeholder="내용을 입력하세요."></textarea>
        </div>
        
        <div class="edit_post_btn">
          <button id="edit_post_botton" (click)="editPost(post)"> 수정하기 </button>
        </div> 
     <!-- </div> -->
    </div>
    <div class="comments">
      <div *ngFor="let cmt of post.comments | getValues ; let i = index" 
            [attr.data-index]="i" class="comment">
     
          <!-- <div class="cmt_wrap" [hidden]="comments[i]==cmt[0]"> -->
          <div class="cmt_wrap" *ngIf ="!cmt[1].clicked">
            <div class="comment_info">
            <!-- 작성자 / 작성시간 / 삭제 / 수정 / 추천 버튼 -->
              <div class="comment_writer">
              {{cmt[1].user.id}} ({{cmt[1].user.name}})
              </div>
              <div class="comment_info">
                {{cmt[1].write_time}}
                <span *ngIf="cmt[1].user.name == userName && cmt[1].user.id == userId" class="buttons">
                   | <button (click)="deleteComment(cmt[0])"><i class="fi fi-rr-cross-small"> delete</i></button>
                   | <button (click)="showHide(cmt[1])"><i class="fi fi-rr-pencil"> edit</i></button>
                   <!-- | <button (click)="showHide(post.post_id)"><i class="fi fi-rr-pencil"> edit</i></button> -->
                  </span> 
                   | <button (click)="thumbsupdownComment(cmt, 1)"><i class="fi fi-rr-thumbs-up"> {{cmt[1].like}} </i></button>
                  <button (click)="thumbsupdownComment(cmt, -1)"><i class="fi fi-rr-thumbs-down"> {{cmt[1].dislike}} </i></button>
          
              </div>
            </div>
            <div class="comment_contents">
            {{cmt[1].text}}
            </div>
          </div>
          <div class="cmt_wrap_edit" *ngIf = "cmt[1].clicked">
            <div class="w_comment_writer">
              {{userName}} ({{userId}})
            </div>
            <div class="w_comment_contents">
              <textarea [(ngModel)]="editCommentText" value="{{cmt[1].text}}"></textarea>
            </div>
            <div class="post_btn">
              <button type="button" id="cancel_button" (click)="cmt[1].clicked=false">취소하기</button>
              <button type="button" id="edit_button" (click)='editComment(cmt)'>수정하기</button>
            </div>
          </div>
      </div>

      <!-- <div class="w_comment"  *ngIf=""> -->
      <div class="w_comment"  *ngIf="post.clicked">
        <div class="w_comment_writer">
          {{userName}} ({{userId}})
        </div>
        <div class="w_comment_contents">
          <!-- <textarea onChange="textChange($event)" onKeyPress="PressEnter($Event)" id="comment_txt" placeholder="댓글 내용을 입력하세요."></textarea> -->
          <textarea id="comment_txt" placeholder="댓글 내용을 입력하세요."></textarea>
        </div>
        <div class="post_btn">
          <!--게시한 후 false-->
          <button type="button" id="post_button" (click)='postComment(post)'>게시하기</button>
        </div>
      </div>
      <!-- <app-comments></app-comments> -->
    </div>
  </div>
</div>
<!-- 

<p>You can pass an existing component as content of the modal window. In this case, if you're still using Angular 8 or older, remember to add the content component
  in the <code>entryComponents</code> section of your <code>NgModule</code>. For Angular 9 or newer, it's not needed anymore.
  </p>
   -->
  <!-- <button class="btn btn-lg btn-outline-primary" (click)="open()">Launch demo modal</button> -->

<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">image</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>

  <div class="modal-body">

    <Input type="text" id="txtRegNo" class="test_class" name="test_name" value="3615421">
    <button id="search">search</button>
    
    <div class="col-md-10" id="rightSection" style="height:614px">
      <div id="avatar-section" style="height:614px">
          <button id="avatar-click-listener">click</button>

          <!-- <div id="avatar-tab-container">
            <button class="btn float-right" id="avatar-tab-closeButton" >X</button>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#avatar-request-tab">요청</a>
                </li>
            </ul>
 
        </div> -->

          <div class="row" style="height:inherit; display: flex;">
            <div id="avatar-viewport-3d-container" ng-controll="avatar-3d-img">
              <select id="avatar-select-3d"></select>
              <img id="avatar-img-phantom" src="../assets/images/oncosoft_phantom.png">
              <div id="avatar-viewport-3d">
                <canvas style="width:100%; display:block"></canvas>
              </div>
            </div>
          
          </div>
  
          <div class="card col-sm-11 avatar-reportDown" id="avatar-reportBox">
            <div id="avatar-report-closeButtonContainer" class="bg-transparent">
          
            </div>
            <div class="card-body" id="avatar-reportBody">
            </div>
          </div>

    <!-- <div id="avatar-bottom-container">
        <div class="ml-2 p" id="avatar-status-seriesDescription" style="font-family: Verdana; font-size:11px; color:lightslategray;"></div>
        <button class="btn m-0" id="avatar-tab-openButton">Sheets</button>
      </div> -->
        <!-- 여기 -->

      </div>
    </div>
  </div>
  
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
  </div>

</ng-template>