@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');
/* .comment{
  border-radius: 20px;
} */

.comment_info{
margin: 10px;

}
.writer{
  font-size: 15px;
  float:left;
  font-weight: bold;
  color:rgb(0, 43, 100);
}
.info{
  font-size: 13px;
  text-align:right;
}
button{
  color: #002b4d;
  font-weight: bold;
  background: transparent;
  border: transparent;
}
.comment_contents{
  margin: 10px;
  font-size: 14px;
}
