<div class ="signup_container">
    
    <div class ="logo">
        <!-- <img alt ="logo" src="./assets/images/logo.png"> -->
        <span class="guide_msg"> Sign up to ProjectM </span>
        <div class="login_link"> Already a member? <a routerLink="/signin">Login Link</a></div>

    </div>
    
    <div class="form" *ngIf="submited==false">
        <form (submit)="onSignup(signupForm)" #signupForm="ngForm">
            <div class ="label">Name </div>
            <div class="input_name">
                <!-- <label for="fname"><b>First name</b></label> -->
                <input id="fname" type="text" ngModel #fnameInput="ngModel" [(ngModel)]="fname" placeholder="First Name" name="fname" id="fname" required>
                <!-- <label for="lname"><b>Last name</b></label> -->
                <input id="lname" type="text" ngModel #lnameInput="ngModel" [(ngModel)]="lname" placeholder="Last Name" name="lname" id="lname" required>
            </div>
            <div class ="label">Gender</div>
            <div class="input_gender">
                <!-- <label for="gender"><b>Gender</b></label> -->
                <input id="gender" type="text" ngModel #genderInput="ngModel" [(ngModel)]="gender" placeholder="Gender" name="gender" id="gender" required>
                <!-- <select>
                    <option value="M">M</option>
                    <option value="F">F</option>
                </select> -->
            </div>
            <div class ="label">Email</div>
            <div class="input_email">
                <!-- <label for="email"><b>Email</b></label> -->
                <input type="email" ngModel #emailInput="ngModel" [(ngModel)]="email" placeholder="Enter Email" name="email" id="email" required>
            </div>
            <div class ="label">Phone</div>
            <div class="input_mobileNo">
                <!-- <label for="mobileNo"><b>Mobile No.</b></label> -->
                <input id="mobileNo" type="tel" ngModel #mobileNoInput="ngModel" [(ngModel)]="mobileNo" placeholder="Enter Mobile No" name="mobileNo" id="mobileNo" required>
            </div>
            <div class ="label">Password</div>
            <div class="input_psw">
                <!-- <label for="psw"><b>Password</b></label> -->
                <input type="password" name="password" ngModel minlength="8" #passwordInput="ngModel" [(ngModel)]="password" placeholder="Enter Password" id="psw" required>
            </div>
            <div class ="submit">
                <!--버튼 활성화 조건 (정보가 다 기입됐을 때 )-->
                <button type="submit" class="registerbtn"> Register </button>
            </div>
        </form> 
    </div>
    <div class = "verification" *ngIf="submited==true" >
        <form (submit)="userVerify(verificationForm)" #verificationForm="ngForm">
            <!-- <label for="vericode"><b>code</b></label> -->
            Enter verification code from your email.
            <div class ="input_vericode">
                <input id="vericode" type="text" ngModel #vericodeInput="ngModel" [(ngModel)]="vericode" placeholder="Enter Verification Code" name="vericode" id="vericode" required>
            </div>
            <button type="submit" class="registerbtn">Register</button>
        </form> 
    </div>
</div>