
  .tv_screen {
    border: 30px;
    border-style:ridge;
    border-color: #333;
    padding: 0px;
    margin: 150px 500px;
    background-color: #333;
  }

  .buttons{
    margin: -185px 850px;
  }

#powerButton {
  background: transparent;
  border-style: hidden;
  font-size: 30px;
  color: gray;
}